.container2 {
  background-color: black;
  width: 100vw;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start; 
  box-sizing: border-box;
  color: white;
  overflow-wrap: break-word;
  text-align: left;
  overflow-y: auto;
}

.heading-contact, .heading {
  color: rgb(132, 128, 128);
  font-size: medium;
  font-weight: bolder;
}

.heading {
  padding-bottom: 10px;
}

.icons {
  height: 20px;
  padding-right: 15px;
  width: 23px;
}

.icons-mail {
  height: 15px;
  padding-right: 15px;
}

.icon-gps {
  height: 20px;
  display: flex;
  position: relative;
  transform: translateY(5px);
}

.icons-payment {
  height: 30px;
  margin-right: 20px;
  margin-bottom: 10px;
  width: 45px;
  border-radius: 5px;
}

.contact-item-location {
  display: flex;
  align-items: first baseline;
}
.social-contact{
  margin-left: .1rem;
}
.social-contact a{
  margin-left: .1rem;
  padding-right: 1.5rem;
}
.contact-item {
  display: flex;
  align-items: center;
}

.content-contact {
  font-size: small;
  text-align: left;
  padding-left: 5px;
}

.content {
  text-align: left;
  padding-left: 5px;
  align-items: center;
  font-size: small;
}

.spacing {
  padding-bottom: 1px;
}

.section {
  flex: 1 1 200px; 
  margin: 10px; 
}

.footer{
    width: 100%;
    text-align: center;
    margin-top: 10px; 
    color: white;
    font-size: medium; 
}

@media (max-width: 768px) {
  .container2 {
    flex-direction: column;
    align-items: center;
  }

  .section {
    width: 100%; 
    margin: 10px 0; 
  }

  .content, .content-contact {
    text-align: center; 
    padding-left: 0;
  }

  .icons, .icons-payment {
    margin: 0 5px; 
  }

  .contact-item, .contact-item-location {
    justify-content: center; 
  }
}
/* 
.section__padding{
  padding: 4rem 4rem;
}  
.footer{
  background-color: #2d2d32;
  margin-top: 11rem;
}
.sb__footer{
  display: flex;
  flex-direction: column;
}
.sb__footer-links{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap; /* Added flex-wrap */
  /* text-align: left;
  width: 100%;
  margin-bottom: 2rem; 
}
.sb__footer-links_div{
  width: 10%; 
  margin: 1rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  color: white;
}
.sb__footer-links_div .flexes{
  display: flex;
  flex-direction: row;
}
.svgs{
  margin-right: .4rem;
  width: 16px;
  height: 30px;
}
.icon-gps{
  height:20px;
  position: relative; 
  transform: translateY(8px);
  transform: translateX(-8px);
}
.location pre{
 margin-left: .1rem;
}
a{
  color: rgb(175,175,179);
  text-decoration: none;
}
.socoal{
  display: flex;
  flex-direction: row;
}
.social .vpm img,.social .bag img{
  height:30px;
  width:45px;
  
}
.social-contact{
  display: flex;
  justify-content: center;
  padding-right: 1.5rem;
}
.social-contact a{
  margin-right: .7rem;
}

.sb__footer-links_div h4{
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 0.9rem;
}
.sb__footer-links_div p{
  font-size: 12px;
  line-height: 15px;
  margin: 0.5rem 0;
  cursor: pointer;
}
.sb__footer-below{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.2rem;
}
.sb__footer-below-links{
  display: flex;
  flex-direction: row;
}
.company-details{
  line-height: 2rem;
}
.sb__footer-below-links p{
  margin-top: 2rem;
  font-size: 13px;
  line-height: 15px;
  margin-left: 2rem;
  color: white;
  font-weight: 600;
}
hr{
  width: 100%;
  color: white !important;
}
.sb__footer-copyright p{
  margin-top: 2rem;
  font-size: 13px;
  line-height: 15px;
  color: rgb(255,255,255);
  font-weight: 600;
}
@media screen and (max-width:850px){
  .sb__footer-heading h1{
    font-size: 44px;
    line-height: 50px;
  }
}
@media screen and (max-width:550px) {
  .sb__footer-heading h1{
    font-size: 34px;
    line-height: 42px;
  }
  .sb__footer-links div{
    margin: 1rem 0;
  }
  .sb__footer-btn p{
    font-size: 14px;
    line-height: 20px;
  }
  .sb__footer-below{
    flex-direction: column;
    justify-content: left;
  }
  .sb__footer-below-links{
    flex-direction: column;
  }
  .sb__footer-below-links p{
    margin-left: 0rem;
    margin-top: 1rem;
  }
  
} */
