.container{
  width: 100vw;
  min-height: 60px;
  background: white;
}
nav{
  position: fixed;
  z-index: 111;
  background-color: rgb(255, 255, 255);
}
a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
    vertical-align:text-top;
  }
  
  .main-nav {
    position: fixed;
    width: 100%;
    height: 4.3rem;
    display: grid;
    grid-template-columns: 10rem 10rem 1fr 5rem 10rem 10rem;
  }
  
  .logo {
    display: grid;
    grid-column: 2/3;
    justify-content: center;
    align-items: center;
    height: 69px;
    width: 70px;
    cursor: pointer;
    transform: translateY(-.01rem);
    vertical-align: text-bottom;
  }
  
  .menu-link {
    grid-column: 3/4;
    cursor: pointer;
  }
  
  .menu-link ul {
    text-align:center;
    height: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 18px;
  }
  .menu-link ul li a{
      margin: 0%;
      padding: 0%;
      font-size: 18px;
  }
  
  .user-info{
    grid-column: 5/6;
  }
  
  .user-info ul {
    height: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    transform: translateY(-9px);
  }
  
  .user-info ul li {
    text-align: right;
  }
  
  .icon-images img{
      height: 50px;
      width: 50px;
      margin-right: 3rem;
  }
  
  .menu-link ul li a {
    text-transform: capitalize;
    color: rgba(0, 0, 3, 0.8);
    transition: 0.5s;
  }
  .menu-link ul li:hover > a {
    transform-origin: left;
    color: rgba(0, 0, 3, 1);
    text-decoration: underline;
    transition: 0.5s;
  }
  .destop{
      display: none;
  }
  .social-media ul li {
    font-size: 1.8rem;
  }
  
  .user-info .hamburger-menu {
    display: none;
  }
  
  
  @media (max-width: 1080px) {
    .main-nav {
      height: 8rem;
      grid-template-columns: 2rem 1rem 2fr 1fr 2rem;
    }
  
    .logo,
    .menu-link ul,
    .user-info ul {
      height: 4rem;
    }
    .menu-link{
      grid-column: 3/4;   
    }
   
    .logo{
      grid-column: 2/3;
    }
    .user-info{
      grid-column: 4/5;
    }
  
  }
  
  @media (max-width: 998px) {
    .main-nav {
      height: 7rem;
      grid-template-columns: 2rem 2fr 3fr 2rem 2rem;
    }
  
    .menu-link {
      display: none;
    }
  
    .logo,
    .user-info ul {
      height: 7rem;
    }
  
    .mobile-menu-link {
      grid-column: 2/4;
      position: relative;
      z-index: 99;
    }
  
    .mobile-menu-link {
      background-color: white;
      height: 27rem;
      display: grid;
      grid-column: 2/5;
      align-items: center;
      padding-left: 3rem;
      transition: all 2s linear;
      transform-origin: top;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }
  
    .mobile-menu-link ul {
      height: 20rem;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: start;
    }
    
    .mobile-menu-link ul li{
      margin-bottom: 2rem;
    }
  
    .mobile-menu-link ul li:first-child {
      transition-delay: 0.2s;
    }
    .mobile-menu-link ul li a span{
      color: black;
      font-weight: bolder;
      padding-left: 1rem;
    }
    .user-info {
      grid-row: 1/2;
      grid-column: 3/5;
      justify-items: end;
      align-items: center;
      transition: all 2s linear;
    }
  
    .user-info .user-info-desktop {
      height: 0;
      display: none;
    }
  
    .user-info {
      height: 7rem;
      display: flex;
      justify-self: end;
      align-items: center;
    }
  
    .user-info .hamburger-menu {
      display: block;
      font-size: 2.5rem;
    }
    .col2{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
    .col2 li a p{
      color: black;
      padding-top: 0.7rem;
    }
  }
  
  @media (max-width: 798px) {
    .main-nav {
      height: 6rem;
      grid-template-columns: 1rem 2fr 1fr 1fr 1rem;
    }
  
    .logo,
    .user-info ul {
      height: 6rem;
    }
  
    .user-info {
      height: 6rem;
      display: flex;
      justify-self: end;
      align-items: center;
    }
  
    .user-info .hamburger-menu {
      display: block;
      font-size: 2.5rem;
    }
  }
  
  @media (max-width: 520px) {
    .main-nav {
      height: 6rem;
      grid-template-columns: 1rem 4fr 1fr 1fr 1rem;
    }
  
    .logo,
    .user-info ul {
      height: 6rem;
    }
  
    .user-info {
      height: 6rem;
      display: flex;
      justify-self: end;
      align-items: center;
    }
  
    .user-info .hamburger-menu {
      display: block;
      font-size: 2.5rem;
    }
    
  }



/* *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family:sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.main-nav {
  width: 100%;
  height: 4rem;
  display: grid;
  grid-template-columns: 10rem 10rem 4rem 1fr 1fr 10rem;
}

.logo {
  display: grid;
  grid-column: 3/4;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  cursor: pointer;
  vertical-align: text-bottom;
}

.menu-link {
  grid-column: 4/5;
  cursor: pointer;
}

.menu-link ul {
  height: 4rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 18px;
}
.menu-link ul li a{
    margin: 0%;
    padding: 0%;
    font-size: 18px;
}

.user-info{
  grid-column: 5/6;
}

.user-info ul {
  height: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
}

.user-info ul li {
  text-align: right;
}

.icon-images img{
    height: 50px;
    width: 50px;
    margin-right: 3rem;
}

.menu-link ul li a {
  text-transform: capitalize;
  color: rgba(0, 0, 3, 0.8);
  transition: 0.5s;
}
.menu-link ul li:hover > a {
  transform-origin: left;
  color: rgba(0, 0, 3, 1);
  text-decoration: underline;
  transition: 0.5s;
}
.destop{
    display: none;
}
.social-media ul li {
  font-size: 1.8rem;
}

.user-info .hamburger-menu {
  display: none;
}


@media (max-width: 1080px) {
  .main-nav {
    height: 8rem;
    grid-template-columns: 2rem 1rem 2fr 1fr 2rem;
  }

  .logo,
  .menu-link ul,
  .user-info ul {
    height: 4rem;
  }
  .menu-link{
    grid-column: 3/4;   
  }
 
  .logo{
    grid-column: 2/3;
  }
  .user-info{
    grid-column: 4/5;
  }

}

@media (max-width: 998px) {
  .main-nav {
    height: 7rem;
    grid-template-columns: 2rem 2fr 3fr 2rem 2rem;
  }

  .menu-link {
    display: none;
  }

  .logo,
  .user-info ul {
    height: 7rem;
  }

  .mobile-menu-link {
    grid-column: 2/4;
    position: relative;
    z-index: 99;
  }

  .mobile-menu-link {
    background-color: white;
    height: 27rem;
    display: grid;
    grid-column: 2/5;
    align-items: center;
    padding-left: 3rem;
    transition: all 2s linear;
    transform-origin: top;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }

  .mobile-menu-link ul {
    height: 20rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: start;
  }
  
  .mobile-menu-link ul li{
    margin-bottom: 2rem;
  }

  .mobile-menu-link ul li:first-child {
    transition-delay: 0.2s;
  }
  .mobile-menu-link ul li a span{
    color: black;
    font-weight: bolder;
    padding-left: 1rem;
  }
  .user-info {
    grid-row: 1/2;
    grid-column: 3/5;
    justify-items: end;
    align-items: center;
    transition: all 2s linear;
  }

  .user-info .user-info-desktop {
    height: 0;
    display: none;
  }

  .user-info {
    height: 7rem;
    display: flex;
    justify-self: end;
    align-items: center;
  }

  .user-info .hamburger-menu {
    display: block;
    font-size: 2.5rem;
  }
  .col2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .col2 li a p{
    color: black;
    padding-top: 0.7rem;
  }
}

@media (max-width: 798px) {
  .main-nav {
    height: 6rem;
    grid-template-columns: 1rem 2fr 1fr 1fr 1rem;
  }

  .logo,
  .user-info ul {
    height: 6rem;
  }

  .user-info {
    height: 6rem;
    display: flex;
    justify-self: end;
    align-items: center;
  }

  .user-info .hamburger-menu {
    display: block;
    font-size: 2.5rem;
  }
}

@media (max-width: 520px) {
  .main-nav {
    height: 6rem;
    grid-template-columns: 1rem 4fr 1fr 1fr 1rem;
  }

  .logo,
  .user-info ul {
    height: 6rem;
  }

  .user-info {
    height: 6rem;
    display: flex;
    justify-self: end;
    align-items: center;
  }

  .user-info .hamburger-menu {
    display: block;
    font-size: 2.5rem;
  }
  
} */