*{
  font-family: "poppins";
}
.product-card {
  border: 5px solid black;
  width: 360px;
  height: 356px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem;
}

.image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 440px;
  height: 396px;
}

.image-box img {
  max-width: 70%;
  max-height: 70%;
  object-fit: contain;
}

.product-card-title {
  font-weight: bold;
  text-align: center;
  margin-top: 2rem;
  font-size: 1rem;
}

.product-card-price {
  font-weight: bold;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.title {
  margin-right: 90px;
  font-size: 25px;
  font-weight: bolder;
  color: black;
}
.description {
  margin-top: -10px;
  font-weight: lighter;
  text-align: justify;
  padding: 3px 1px 1px 1px;
}
.about-card {
  padding: 1rem 2rem;
}
.about-card .price {
  text-align: center;
  padding-top: 2rem;
  margin-left: 2rem;
}
#purchase-btn {
  background-color: #f54642;
  font-weight: bolder;
  font-size: 18px;
  color: white;
  width: 220px;
  margin-top: 15px;
  margin-left: 5rem;
  height: 39px;
  border-radius: 18px;
  border: 2px solid #f54642;
}
