.image-slider{
  position: relative;
  width: 100%;
  height: 300px;
  display: flex;
  padding: 0 3%;
 
}
.image-slider .left{
  flex: 1 1 460px;
  padding-top: 7rem;
}
.image-slider .active{
  animation: left-to-right .5s linear .5s backwards;
}
.image-slider .left .btn{
  display: inline-block;
  margin-top: 1rem;
  border-radius: .5rem;
  border: .2rem solid #000;
  font-weight: bolder;
  font-size: 1.7rem;
  color: #000;
  cursor: pointer;
  background: #fff;
  padding: .8rem 3rem;
  text-decoration: none;
}
@keyframes left-to-right{
  0%{
    opacity: 0;
    transform: translateX(-10rem);
  }
}
.image-slider .right{
  width: 50%;
  height: 500px;
  
}
.image-slider .right .slide{
  position: relative;
  padding-bottom: 10rem;
}
.image-slider .right .slide .shoe{
  width: 100%;
  transform: rotate(-10deg);
  animation: show .3s linear;
}
@keyframes show{
  0%{
    opacity: 0;
    transform: rotate(0deg) scale(.5);
  }
}
.left .title{
  font-size: 1.6rem;
  color: red;
  padding: .5rem 0;
}
.left .subtitle{
  font-size: 2.9rem;
  color: black;
  max-width: 500px;
  padding: .5rem 0;
}
.left .decscription{
  font-size: 1.5;
  color: gray;
  padding: .5rem 0;
}
.left .prev,.right .next{
  position: absolute;
  z-index: 100;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  cursor: pointer;
  font-size: 3rem;
}
.left .prev{
  transform: translateX(-8rem);
}
.right .next{
  top: 50%;
  transform: translateY(-50%);
}
