.arrow-button {
    all:unset;
    background-color:white;
    color: grey;
    border: 1px solid grey;
    border-radius: 5px;
    width: 90%;
    padding: 20px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  #arrow-icon {
    position: absolute;
    right: 960px;
  }
  
  .arrow-button:hover {
    background-color: #0056b3;
  }
  