#sec5{
    align-items: center;
    text-align: center;
    
    overflow-x: hidden;
}
#sec5 form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#inside1{
    margin-right: 400px;
    margin-left: 400px;
    margin-top: 70px;
}
#inside1 h2{
    padding-bottom: 2rem;
    font-weight: 300;
    font-size:50px;
}

#inside2{
    margin-top:60px;
}

#i1{
    background-color: white;
    color: black;
    padding: 9px;
    padding-left: 19px;
    box-sizing: border-box;
   border:3px solid black;
    width: 59vw;
    height: 8vh;
    margin-bottom: 60px;
    font-size: 20px;

}

#i2{
    background-color: black;
    color:white;
    padding: 10px;
    box-sizing: border-box;
   border: 3px solid black;
    width:10%;
   height: 13%;
    margin-bottom: 100px;
    font-size: larger;
    font-weight: 400;
}
.flex1{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7rem;
    /* margin:0px 200px 0px 200px; */
}

.shoe-img{
    margin-top: 4rem;
    height: 95px;
    width:100px;
    
}
.Topbrands h2{
    font-weight: 400;
    font-size: 2.5vw;
}
